
body {
   font-size: "Ubuntu", sans-serif;
   background-color: var(--cor-fundo-body);
}


/*===================== ESTILOS REUTILIZAVEIS ============== */
:root {

   --cor-principal:#0036d3;
   --cor-azul-claro:#4373ce;
   --cor-icones-azul:#5b87d5;
   --cor-porcentagem-card:#ffd220;
   --cor-card-descricao:#014aad;
   --cor-funso-header:#1E5BC6;
   --cor-cinza-geral:#F2F2F2;
   --cor-fundo-body:#FFFFFF;
   --cor-bloco-menus:#4373CE;

   /* ESTILOS DE FONTES */

   --fz-10:10px;
   --fz-12:12px;
   --fz-13:13px;
   --fz-14:14px;
   --fz-16:12px;
   --fz-20:13px;
   


}



.container-propio {

   padding: 0 5%;
}





.cabecalho {
   background-color: var(--cor-funso-header)

}


.banner-superior img  {

   width: 100%;
}
.cabecalho-superior {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 5px;


}


.cabecalho-superior__bloco-esquerdo {

   
}


.cabecalho-superior__bloco-esquerdo .menu-lista__link {

   
 text-decoration: none;
 display: block;


}

.cabecalho-superior__bloco-esquerdo .menu-lista__link:hover  {

  }
  


.cabecalho-superior__bloco-esquerdo .menu-lista__link:hover .menu-item__lista {

   
 



}

.cabecalho-superior__bloco-esquerdo .menu-lista {
   display: flex;
   align-items: end;
   gap: 5px;
  

}



.cabecalho-superior__bloco-esquerdo .menu-item__lista {
   width: 160px;
   height: 32px;
   padding: 10px 10px 10px ;
   background-color: var(--cor-bloco-menus);
   border-radius: 5px 5px 0 0;

}





.cabecalho-superior__bloco-esquerdo .centralizar {
   display: flex;
   align-items: flex-end;
   justify-content: center;
   gap: 5px;
   height: 100%;
   color: #fff;
   font-size: var(--fz-13);
   text-transform: uppercase;
   font-weight: bold;

}


.cabecalho-superior__bloco-esquerdo .menu__texto {


}


.cabecalho-superior__bloco-esquerdo .menu__texto:hover {
  
   color: black;
   

}






/* CABECALHO SUPERIROR BLOCO DIREITO */
.cabecalho-superior-bloco-direito {
 
   
  
}


.cabecalho-superior-bloco-direito__lista {
   display: flex;
   gap: 20px;
}

.cabecalho-superior-bloco-direito__item-lista {

}

.cabecalho-superiror-bloco-direito__link {
   color: var(--cor-fundo-body);
   font-size: var(--fz-13);
   text-transform: capitalize;

}




