
body {
   font-size: "Ubuntu" , sans-serif;
   background-color: var(--cor-fundo-body);
}


/*===================== ESTILOS REUTILIZAVEIS ============== */
:root {

   --cor-principal:#0036d3;
   --cor-azul-claro:#4373ce;
   --cor-icones-azul:#5b87d5;
   --cor-porcentagem-card:#ffd220;
   --cor-card-descricao:#014aad;
   --cor-funso-header:#1E5BC6;
   --cor-cinza-geral:#F2F2F2;
   --cor-fundo-body:#FFFFFF;

   /* ESTILOS DE FONTES */

   --fz-10:10px;
   --fz-12:12px;
   --fz-13:13px;
   --fz-14:14px;
   --fz-16:12px;
   --fz-20:13px;
   


}



.container-propio {

   padding: 0 5%;
}





.cabecalho {
   background-color: var(--cor-funso-header)

}


.banner-superior img  {

   width: 100%;
}
.cabecalho-superior {
   display: flex;
   justify-content: space-between;
   align-items: center;


}


.cabecalho-superior__bloco-esquerdo {

   
} 

.cabecalho-superior__bloco-esquerdo .menu-lista {
   display: flex;
   align-items: end;

}

.cabecalho-superior__bloco-esquerdo .menu-item__lista {
   width: 120px   ;

}

.cabecalho-superior__bloco-esquerdo .menu-item__link {

}

.cabecalho-superior__bloco-esquerdo .centralizar {

}


.cabecalho-superior__bloco-esquerdo .menu__texto {

}








/* CABECALHO SUPERIROR BLOCO DIREITO */
.cabecalho-superior-bloco-direito {
  
}


.cabecalho-superior-bloco-direito__lista {
   display: flex;
}






