
body {
   font-size: "Ubuntu" , sans-serif;
}


/*===================== ESTILOS REUTILIZAVEIS ============== */
:root {

   --cor-principal:#0036d3;
   --cor-azul-claro:#4373ce;
   --cor-icones-azul:#5b87d5;
   --cor-porcentagem-card:#ffd220;
   --cor-card-descricao:#014aad;

   /* ESTILOS DE FONTES */

   --fz-16:16px;
   --fz-20:20px;
   


}



.container-propio {

   padding: 0 2%;
}




.banner-superior img  {

   width: 100%;
}

.cabecalho {

}

.cabecalho-header {
   height: 50px;
}

.cabecalho-main {

}

.cabecalho-footer {

}